{% extends 'base.html' %}

{% block content %}

	<!--start-ckeckout-->
	<div class="ckeckout">
		<div class="container">
			<div class="ckeck-top heading">
				<h2>Savatcha</h2>
			</div>
			<div class="ckeckout-top">
				<div class="cart-items">
					<div class="d-flex justify-content-between">
						<div class=""><h3>Savatchadagi masulotlar</h3></div>
					</div>
					<div class="in-check" >
						<ul class="unit" style="display: flex;">
							<li><span>Maxsulot</span></li>
							<li><span>Maxsulot soni</span></li>		
							<li><span>Maxsulot narxi</span></li>
							<li><span>Umumiy narx</span></li>
							<li><span>Maxsulot rasmi</span></li>
							<div class="clearfix"> </div>
						</ul>
						{% for i in items %}
						<ul class="cart-header" style="display: flex;">
							<a href="{% url 'main:cart_detail_delete'%}?items_id={{i.id}}"><div class="close1"></div></a>
							<li><span>{{i.product.name}}</span></li>
							<li><span>{{i.quantity}}</span></li>
							<li><span>{{i.product.price}}</span></li>
							<li><span>{{i.total_price}}</span></li>
							<li class="ring-in"><a href="#" ><img src="{{ i.product.baner_image.url }}" class="img-responsive" alt="" width="150px"></a>
							</li>
							
						</ul>
						{% endfor %}
						<div class=""><a href="{% url 'main:cart_sale' cart.id %}" class="btn btn-success">Buy items</a></div>
					</div>
				</div>  
		 </div>
		</div>
	</div>
	<!--end-ckeckout-->
{% endblock %}