{% extends 'base.html' %}
{% load static %}
{% block content %}

	<!--product-starts-->
	<div class="product"> 
		<div class="container">
			<div class="product-top">
				<div class="product-one">
					{% for wishlist in items %}
					<div class="col-md-3 product-left">
						<div class="product-main simpleCart_shelfItem">
							<a href="{% url 'main:product_detail' wishlist.product.id %}" class="mask"><img class="img-responsive zoom-img" src="{{wishlist.product.baner_image.url}}" alt="" /></a>
							<div class="product-bottom">
								<h3>{{wishlist.product.name}}</h3>
								<h4><a class="item_add" href="#"><i></i></a> <span class=" item_price">{{wishlist.product.price}}</span></h4>
							</div>
							<div style="margin-left: 200px; margin-top: -40px; position: absolute;">
								<a href="{% url 'main:del_wish' wishlist.product.id %}"><img class="material-symbols-outlined" src="{% static 'images/heart.png' %}" alt=""></a>
							</div>
						</div>
					</div>
					{% endfor %}
					<div class="clearfix"></div>
				</div>				
			</div>
		</div>
	</div>
	<!--product-end-->
{% endblock %}